# Density Data Cleaning

In [5]:
import pandas as pd

In [6]:
area = pd.read_csv('./raw_csv_files/urban_area.csv', encoding = "ISO-8859-1")

In [7]:
area.head(15)

      county    state   sq ki
0        NaN      NaN     NaN
1        NaN      NaN     NaN
2    Autauga  Alabama  1543.7
3    Baldwin  Alabama  4135.0
4    Barbour  Alabama  2292.1
5       Bibb  Alabama  1611.9
6     Blount  Alabama  1672.3
7    Bullock  Alabama  1618.9
8     Butler  Alabama  2012.3
9    Calhoun  Alabama  1576.0
10  Chambers  Alabama  1547.3
11  Cherokee  Alabama  1432.7
12   Chilton  Alabama  1797.6
13   Choctaw  Alabama  2366.2
14    Clarke  Alabama  3207.7

In [8]:
# drop empty rows and columns 

area = area.drop([0,1], axis=0).reset_index().drop('index', axis=1)

In [9]:
# drop Alaska from data set because of voter districs irregularity

area = area[area.state != 'Alaska']

In [10]:
def replace(df):
    '''Function to replace every state name in dataset with it's abbreviation'''
    
    df.state = df.state.replace('Alabama', 'AL').replace('Arizona', 'AZ').replace('Arkansas', 'AR')
    df.state = df.state.replace('California', 'CA').replace('Colorado', 'CO').replace('Connecticut', 'CT')
    df.state = df.state.replace('Delaware', 'DE').replace('Hawaii', 'HI').replace('Idaho', 'ID')
    df.state = df.state.replace('Illinois', 'IL').replace('Indiana', 'IN').replace('Iowa', 'IA')
    df.state = df.state.replace('Kansas', 'KS').replace('Kentucky', 'KY').replace('Louisiana', 'LA')
    df.state = df.state.replace('Maine', 'ME').replace('Maryland', 'MD').replace('Massachusetts', 'MA')
    df.state = df.state.replace('Michigan', 'MI').replace('Minnesota', 'MN').replace('Mississippi', 'MS')
    df.state = df.state.replace('Missouri', 'MO').replace('Montana', 'MT').replace('Nebraska', 'NE')
    df.state = df.state.replace('Nevada', 'NV').replace('New Hampshire','NH').replace('New Jersey', 'NJ')
    df.state = df.state.replace('New Mexico', 'NM').replace('New York', 'NY').replace('North Carolina','NC')
    df.state = df.state.replace('North Dakota', 'ND').replace('Ohio', 'OH').replace('Oklahoma', 'OK')
    df.state = df.state.replace('Oregon', 'OR').replace('Pennsylvania', 'PA').replace('Rhode Island', 'RI')
    df.state = df.state.replace('South Carolina', 'SC').replace('South Dakota', 'SD').replace('Tennessee', 'TN')
    df.state = df.state.replace('Texas', 'TX').replace('Utah', 'UT').replace('Vermont', 'VT')
    df.state = df.state.replace('Virginia', 'VA').replace('Washington', 'WA').replace('West Virginia', 'WV')
    df.state = df.state.replace('Wisconsin', 'WI').replace('Wyoming', 'WY')
    return df

In [11]:
# call function, and combine county name with state slug

area = replace(area)

area.county = area.county + ', ' + area.state

area.drop('state', axis=1, inplace=True)

In [13]:
area[area.county == 'Fairfax, VA']

           county   sq ki
2848  Fairfax, VA  1024.5
2925  Fairfax, VA    16.0

In [7]:
area.to_csv('./csv_files/area', index=False)