# Education Playground

In [2]:
import pandas as pd
import numpy as np

In [3]:
edu = pd.read_csv('./raw_csv_files/education.csv')

In [4]:
pd.set_option("display.max_columns", 999)

Data Dict

2003 Rural-urban Continuum Code	
2003 Urban Influence Code	
Less than a high school diploma, 1990	
High school diploma only, 1990	
Some college or associate's degree, 1990	
Bachelor's degree or higher, 1990	
Percent of adults with less than a high school diploma, 1990	
Percent of adults with a high school diploma only, 1990	
Percent of adults completing some college or associate's degree, 1990	
Percent of adults with a bachelor's degree or higher, 1990	
Less than a high school diploma, 2000	
High school diploma only, 2000	
Some college or associate's degree, 2000	
Bachelor's degree or higher, 2000	
Percent of adults with less than a high school diploma, 2000	
Percent of adults with a high school diploma only, 2000	
Percent of adults completing some college or associate's degree, 2000	
Percent of adults with a bachelor's degree or higher, 2000	
2013 Rural-urban Continuum Code	2013 Urban Influence Code	
Less than a high school diploma, 2011-2015	
High school diploma only, 2011-2015	
Some college or associate's degree, 2011-2015	
Bachelor's degree or higher, 2011-2015	
Percent of adults with less than a high school diploma, 2011-2015	
Percent of adults with a high school diploma only, 2011-2015	
Percent of adults completing some college or associate's degree, 2011-2015	
Percent of adults with a bachelor's degree or higher, 2011-2015

2003 Rural-urban Continuum Code
    The 2013 Rural-Urban Continuum Codes form a classification scheme that distinguishes metropolitan counties by the population size of their metro area, and nonmetropolitan counties by degree of urbanization and adjacency to a metro area. https://www.ers.usda.gov/data-products/rural-urban-continuum-codes/
    1 - 9 classifications
    
    - 1 Metro - Counties in metro areas of 1 million population or more
    - 2 Metro - Counties in metro areas of 250,000 to 1 million population
    - 3 Metro - Counties in metro areas of fewer than 250,000 population
    - 4 Nonmetro - Urban population of 20,000 or more, adjacent to a metro area
    - 5 Nonmetro - Urban population of 20,000 or more, not adjacent to a metro area
    - 6 Nonmetro - Urban population of 2,500 to 19,999, adjacent to a metro area
    - 7 Nonmetro - Urban population of 2,500 to 19,999, not adjacent to a metro area
    - 8 Nonmetro - Completely rural or less than 2,500 urban population, adjacent to a metro area
    - 9 Nonmetro - Completely rural or less than 2,500 urban population, not adjacent to a metro area
    
    
    
2003 Urban Influence Code
    The 2013 Urban Influence Codes form a classification scheme that distinguishes metropolitan counties by population size of their metro area, and nonmetropolitan counties by size of the largest city or town and proximity to metro and micropolitan areas. - https://www.ers.usda.gov/data-products/urban-influence-codes/
    1-12 classifications
    - 1 Large-in a metro area with at least 1 million residents or more
    - 2 Small-in a metro area with fewer than 1 million residents
    - 3 Micropolitan adjacent to a large metro area
    - 4 Noncore adjacent to a large metro area 
    - 5 Micropolitan adjacent to a small metro area
    - 6 Noncore adjacent to a small metro with town of at least 2,500 residents
    - 7 Noncore adjacent to a small metro and does not contain a town of at least 2,500 residents
    - 8 Micropolitan not adjacent to a metro area
    - 9 Noncore adjacent to micro area and contains a town of 2,500-19,999 residents
    - 10 Noncore adjacent to micro area and does not contain a town of at least 2,500 residents
    - 11 Noncore not adjacent to a metro/micro area and contains a town of 2,500  or more residents
    - 12 Noncore not adjacent to a metro/micro area and does not contain a town of at least 2,500 residents

In [5]:
edu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3111 entries, 0 to 3110
Data columns (total 30 columns):
state                           3111 non-null object
county                          3111 non-null object
continuum_2003                  3111 non-null int64
influence_2003                  3111 non-null int64
less_high_1990                  3110 non-null float64
high_diploma_1990               3110 non-null float64
some_college_1990               3110 non-null float64
bachelors_or_higher_1990        3110 non-null float64
per_less_high_1990              3110 non-null float64
per_high_diploma_1990           3110 non-null float64
per_some_college_1990           3110 non-null float64
per_bachelors_or_higher_1990    3110 non-null float64
less_high_2000                  3110 non-null float64
high_diploma_2000               3110 non-null float64
some_college_2000               3110 non-null float64
bachelors_or_higher_2000        3110 non-null float64
per_less_high_2000              3110 non-null float64
per_high_diploma_2000           3110 non-null float64
per_some_college_2000           3110 non-null float64
per_bachelors_or_higher_2000    3110 non-null float64
continuum_2013                  3111 non-null int64
influence_2013                  3111 non-null int64
less_high_2011                  3111 non-null int64
high_diploma_2011               3111 non-null int64
some_college_2011               3111 non-null int64
bachelors_or_higher_2011        3111 non-null int64
per_less_high_2011              3111 non-null float64
per_high_diploma_2011           3111 non-null float64
per_some_college_2011           3111 non-null float64
per_bachelors_or_higher_2011    3111 non-null float64
dtypes: float64(20), int64(8), object(2)
memory usage: 729.2+ KB

In [6]:
edu.head()

,state,county,continuum_2003,influence_2003,less_high_1990,high_diploma_1990,some_college_1990,bachelors_or_higher_1990,per_less_high_1990,per_high_diploma_1990,per_some_college_1990,per_bachelors_or_higher_1990,less_high_2000,high_diploma_2000,some_college_2000,bachelors_or_higher_2000,per_less_high_2000,per_high_diploma_2000,per_some_college_2000,per_bachelors_or_higher_2000,continuum_2013,influence_2013,less_high_2011,high_diploma_2011,some_college_2011,bachelors_or_higher_2011,per_less_high_2011,per_high_diploma_2011,per_some_college_2011,per_bachelors_or_higher_2011
0,Alabama,Autauga County,2,2,6252.0,6671.0,4912.0,3026.0,30.0,32.0,23.5,14.5,5872.0,9332.0,7413.0,4972.0,21.3,33.8,26.9,18.0,2,2,4656,12182,11044,8437,12.8,33.5,30.4,23.2
1,Alabama,Baldwin County,4,5,17309.0,20544.0,15900.0,10870.0,26.8,31.8,24.6,16.8,17258.0,28428.0,28178.0,22146.0,18.0,29.6,29.3,23.1,3,2,14360,39431,43500,39710,10.5,28.8,31.8,29.0
2,Alabama,Barbour County,6,6,6965.0,4258.0,2622.0,1857.0,44.4,27.1,16.7,11.8,6679.0,6124.0,4025.0,2068.0,35.3,32.4,21.3,10.9,6,6,5021,6490,4943,2354,26.7,34.5,26.3,12.5
3,Alabama,Bibb County,1,1,4850.0,3407.0,1332.0,476.0,48.2,33.8,13.2,4.7,4984.0,4838.0,2756.0,962.0,36.8,35.7,20.4,7.1,1,1,3024,6574,4367,1664,19.3,42.1,27.9,10.6
4,Alabama,Blount County,1,1,9960.0,8763.0,4745.0,1773.0,39.5,34.7,18.8,7.0,9960.0,12136.0,8371.0,3235.0,29.6,36.0,24.8,9.6,1,1,8472,13179,12677,5080,21.5,33.4,32.2,12.9

In [7]:
edu.county = edu.county.map(lambda x: str(x)[:-7] if str(x)[-3] == 'n' or str(x)[-1] == 'h' else str(x)[:-5] + ' Co.')

In [8]:
edu.shape

(3111, 30)

Deal with null values

In [9]:
edu.isnull().sum().sum()

16

In [10]:
edu.tail(10)

,state,county,continuum_2003,influence_2003,less_high_1990,high_diploma_1990,some_college_1990,bachelors_or_higher_1990,per_less_high_1990,per_high_diploma_1990,per_some_college_1990,per_bachelors_or_higher_1990,less_high_2000,high_diploma_2000,some_college_2000,bachelors_or_higher_2000,per_less_high_2000,per_high_diploma_2000,per_some_college_2000,per_bachelors_or_higher_2000,continuum_2013,influence_2013,less_high_2011,high_diploma_2011,some_college_2011,bachelors_or_higher_2011,per_less_high_2011,per_high_diploma_2011,per_some_college_2011,per_bachelors_or_higher_2011
3101,Wyoming,Niobrara,9,12,427.0,598.0,506.0,229.0,24.3,34.0,28.7,13.0,220.0,673.0,573.0,265.0,12.7,38.9,33.1,15.3,9,12,177,524,765,396,9.5,28.1,41.1,21.3
3102,Wyoming,Park,7,11,2557.0,4587.0,4798.0,2763.0,17.4,31.2,32.6,18.8,2124.0,5208.0,5756.0,4057.0,12.4,30.4,33.6,23.7,7,11,1378,5807,7391,5786,6.8,28.5,36.3,28.4
3103,Wyoming,Platte,7,11,1081.0,2110.0,1526.0,604.0,20.3,39.7,28.7,11.4,913.0,2323.0,1880.0,918.0,15.1,38.5,31.2,15.2,7,11,491,1962,2531,1379,7.7,30.8,39.8,21.7
3104,Wyoming,Sheridan,7,8,2870.0,5260.0,4743.0,2757.0,18.4,33.7,30.3,17.6,2085.0,5180.0,6689.0,4026.0,11.6,28.8,37.2,22.4,7,8,1145,5675,7921,6128,5.5,27.2,38.0,29.4
3105,Wyoming,Sublette,9,10,504.0,1063.0,939.0,681.0,15.8,33.4,29.5,21.4,446.0,1429.0,1297.0,872.0,11.0,35.3,32.1,21.6,9,10,316,2454,2601,1594,4.5,35.2,37.3,22.9
3106,Wyoming,Sweetwater,5,8,4160.0,8455.0,6912.0,3006.0,18.5,37.5,30.7,13.3,2911.0,7994.0,8220.0,3928.0,12.6,34.7,35.7,17.0,5,8,2702,10093,10121,5586,9.5,35.4,35.5,19.6
3107,Wyoming,Teton,7,8,620.0,2177.0,2549.0,2291.0,8.1,28.5,33.4,30.0,679.0,2428.0,3853.0,5878.0,5.3,18.9,30.0,45.8,7,8,687,3008,4055,9073,4.1,17.9,24.1,53.9
3108,Wyoming,Uinta,7,8,1581.0,3897.0,3028.0,1425.0,15.9,39.2,30.5,14.3,1744.0,4069.0,3918.0,1712.0,15.2,35.6,34.2,15.0,7,8,1343,4713,4456,2515,10.3,36.2,34.2,19.3
3109,Wyoming,Washakie,7,11,1150.0,1876.0,1406.0,1000.0,21.2,34.5,25.9,18.4,785.0,1844.0,1809.0,1022.0,14.4,33.8,33.1,18.7,7,11,732,1704,2151,1229,12.6,29.3,37.0,21.1
3110,Wyoming,Weston,7,9,701.0,1832.0,1107.0,531.0,16.8,43.9,26.5,12.7,674.0,1831.0,1389.0,660.0,14.8,40.2,30.5,14.5,7,9,610,1652,1933,928,11.9,32.2,37.7,18.1

In [11]:
edu = edu[:3111]

In [12]:
edu.shape

(3111, 30)

In [13]:
edu[edu.isnull().any(axis=1)]

,state,county,continuum_2003,influence_2003,less_high_1990,high_diploma_1990,some_college_1990,bachelors_or_higher_1990,per_less_high_1990,per_high_diploma_1990,per_some_college_1990,per_bachelors_or_higher_1990,less_high_2000,high_diploma_2000,some_college_2000,bachelors_or_higher_2000,per_less_high_2000,per_high_diploma_2000,per_some_college_2000,per_bachelors_or_higher_2000,continuum_2013,influence_2013,less_high_2011,high_diploma_2011,some_college_2011,bachelors_or_higher_2011,per_less_high_2011,per_high_diploma_2011,per_some_college_2011,per_bachelors_or_higher_2011
222,Colorado,Broomfield,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1773,6010,11893,21204,4.3,14.7,29.1,51.9

In [14]:
edu.fillna(0, inplace=True)

In [15]:
def replace(df):
    '''Function to replace every state name in dataset with it's abbreviation'''
    
    df.state = df.state.replace('Alabama', 'AL').replace('Arizona', 'AZ').replace('Arkansas', 'AR')
    df.state = df.state.replace('California', 'CA').replace('Colorado', 'CO').replace('Connecticut', 'CT')
    df.state = df.state.replace('Delaware', 'DE').replace('Florida', 'FL').replace('Georgia', 'GA')
    df.state = df.state.replace('Hawaii', 'HI').replace('Idaho', 'ID').replace('Illinois', 'IL')
    df.state = df.state.replace('Indiana', 'IN').replace('Iowa', 'IA').replace('Kansas', 'KS')
    df.state = df.state.replace('Kentucky', 'KY').replace('Louisiana', 'LA').replace('Maine', 'ME')
    df.state = df.state.replace('Maryland', 'MD').replace('Massachusetts', 'MA').replace('Michigan', 'MI')
    df.state = df.state.replace('Minnesota', 'MN').replace('Mississippi', 'MS').replace('Missouri', 'MO')
    df.state = df.state.replace('Montana', 'MT').replace('Nebraska', 'NE').replace('Nevada', 'NV')
    df.state = df.state.replace('New Hampshire','NH').replace('New Jersey', 'NJ').replace('New Mexico', 'NM')
    df.state = df.state.replace('New York', 'NY').replace('North Carolina','NC').replace('North Dakota', 'ND')
    df.state = df.state.replace('Ohio', 'OH').replace('Oklahoma', 'OK').replace('Oregon', 'OR')
    df.state = df.state.replace('Pennsylvania', 'PA').replace('Rhode Island', 'RI').replace('South Carolina', 'SC')
    df.state = df.state.replace('South Dakota', 'SD').replace('Tennessee', 'TN').replace('Texas', 'TX')
    df.state = df.state.replace('Utah', 'UT').replace('Vermont', 'VT').replace('Virginia', 'VA')
    df.state = df.state.replace('Washington', 'WA').replace('West Virginia', 'WV').replace('Wisconsin', 'WI')
    df.state = df.state.replace('Wyoming', 'WY')
    return df

In [16]:
edu = replace(edu)

edu.county = edu.county + ', ' + edu.state

edu.drop('state', axis=1, inplace=True)

In [17]:
edu.head()

,county,continuum_2003,influence_2003,less_high_1990,high_diploma_1990,some_college_1990,bachelors_or_higher_1990,per_less_high_1990,per_high_diploma_1990,per_some_college_1990,per_bachelors_or_higher_1990,less_high_2000,high_diploma_2000,some_college_2000,bachelors_or_higher_2000,per_less_high_2000,per_high_diploma_2000,per_some_college_2000,per_bachelors_or_higher_2000,continuum_2013,influence_2013,less_high_2011,high_diploma_2011,some_college_2011,bachelors_or_higher_2011,per_less_high_2011,per_high_diploma_2011,per_some_college_2011,per_bachelors_or_higher_2011
0,"Autauga, AL",2,2,6252.0,6671.0,4912.0,3026.0,30.0,32.0,23.5,14.5,5872.0,9332.0,7413.0,4972.0,21.3,33.8,26.9,18.0,2,2,4656,12182,11044,8437,12.8,33.5,30.4,23.2
1,"Baldwin, AL",4,5,17309.0,20544.0,15900.0,10870.0,26.8,31.8,24.6,16.8,17258.0,28428.0,28178.0,22146.0,18.0,29.6,29.3,23.1,3,2,14360,39431,43500,39710,10.5,28.8,31.8,29.0
2,"Barbour, AL",6,6,6965.0,4258.0,2622.0,1857.0,44.4,27.1,16.7,11.8,6679.0,6124.0,4025.0,2068.0,35.3,32.4,21.3,10.9,6,6,5021,6490,4943,2354,26.7,34.5,26.3,12.5
3,"Bibb, AL",1,1,4850.0,3407.0,1332.0,476.0,48.2,33.8,13.2,4.7,4984.0,4838.0,2756.0,962.0,36.8,35.7,20.4,7.1,1,1,3024,6574,4367,1664,19.3,42.1,27.9,10.6
4,"Blount, AL",1,1,9960.0,8763.0,4745.0,1773.0,39.5,34.7,18.8,7.0,9960.0,12136.0,8371.0,3235.0,29.6,36.0,24.8,9.6,1,1,8472,13179,12677,5080,21.5,33.4,32.2,12.9

In [18]:
edu.columns

Index(['county', 'continuum_2003', 'influence_2003', 'less_high_1990',
       'high_diploma_1990', 'some_college_1990', 'bachelors_or_higher_1990',
       'per_less_high_1990', 'per_high_diploma_1990', 'per_some_college_1990',
       'per_bachelors_or_higher_1990', 'less_high_2000', 'high_diploma_2000',
       'some_college_2000', 'bachelors_or_higher_2000', 'per_less_high_2000',
       'per_high_diploma_2000', 'per_some_college_2000',
       'per_bachelors_or_higher_2000', 'continuum_2013', 'influence_2013',
       'less_high_2011', 'high_diploma_2011', 'some_college_2011',
       'bachelors_or_higher_2011', 'per_less_high_2011',
       'per_high_diploma_2011', 'per_some_college_2011',
       'per_bachelors_or_higher_2011'],
      dtype='object')

In [19]:
edu_2000 = edu[['county', 'continuum_2003', 'influence_2003', 'less_high_1990', 'high_diploma_1990', 
                'some_college_1990', 'bachelors_or_higher_1990', 'per_less_high_1990', 'per_high_diploma_1990', 
                'per_some_college_1990', 'per_bachelors_or_higher_1990', 'less_high_2000', 'high_diploma_2000',
                'some_college_2000', 'bachelors_or_higher_2000', 'per_less_high_2000', 'per_high_diploma_2000', 
                'per_some_college_2000', 'per_bachelors_or_higher_2000']]

edu_2010 = edu[['county', 'continuum_2013', 'influence_2013', 'less_high_2000', 'high_diploma_2000',
                'some_college_2000', 'bachelors_or_higher_2000', 'per_less_high_2000', 'per_high_diploma_2000', 
                'per_some_college_2000', 'per_bachelors_or_higher_2000', 'less_high_2011', 'high_diploma_2011', 
                'some_college_2011', 'bachelors_or_higher_2011', 'per_less_high_2011', 'per_high_diploma_2011', 
                'per_some_college_2011', 'per_bachelors_or_higher_2011']]

In [20]:
edu_2000

,county,continuum_2003,influence_2003,less_high_1990,high_diploma_1990,some_college_1990,bachelors_or_higher_1990,per_less_high_1990,per_high_diploma_1990,per_some_college_1990,per_bachelors_or_higher_1990,less_high_2000,high_diploma_2000,some_college_2000,bachelors_or_higher_2000,per_less_high_2000,per_high_diploma_2000,per_some_college_2000,per_bachelors_or_higher_2000
0,"Autauga, AL",2,2,6252.0,6671.0,4912.0,3026.0,30.0,32.0,23.5,14.5,5872.0,9332.0,7413.0,4972.0,21.3,33.8,26.9,18.0
1,"Baldwin, AL",4,5,17309.0,20544.0,15900.0,10870.0,26.8,31.8,24.6,16.8,17258.0,28428.0,28178.0,22146.0,18.0,29.6,29.3,23.1
2,"Barbour, AL",6,6,6965.0,4258.0,2622.0,1857.0,44.4,27.1,16.7,11.8,6679.0,6124.0,4025.0,2068.0,35.3,32.4,21.3,10.9
3,"Bibb, AL",1,1,4850.0,3407.0,1332.0,476.0,48.2,33.8,13.2,4.7,4984.0,4838.0,2756.0,962.0,36.8,35.7,20.4,7.1
4,"Blount, AL",1,1,9960.0,8763.0,4745.0,1773.0,39.5,34.7,18.8,7.0,9960.0,12136.0,8371.0,3235.0,29.6,36.0,24.8,9.6
5,"Bullock, AL",6,6,3428.0,1669.0,954.0,676.0,51.0,24.8,14.2,10.0,2992.0,2667.0,1325.0,586.0,39.5,35.2,17.5,7.7
6,"Butler, AL",6,6,6374.0,3927.0,2106.0,1083.0,47.2,29.1,15.6,8.0,4439.0,4749.0,3146.0,1433.0,32.2,34.5,22.9,10.4
7,"Calhoun, AL",3,2,23633.0,21711.0,16835.0,10266.0,32.6,30.0,23.2,14.2,19318.0,23856.0,19576.0,11265.0,26.1,32.2,26.4,15.2
8,"Chambers, AL",6,5,10833.0,6749.0,3998.0,2101.0,45.7,28.5,16.9,8.9,8778.0,7863.0,5517.0,2339.0,35.8,32.1,22.5,9.5
9,"Cherokee, AL",8,6,6030.0,4092.0,1966.0,866.0,46.5,31.6,15.2,6.7,6138.0,5865.0,3186.0,1636.0,36.5,34.9,18.9,9.7
10,"Chilton, AL",1,1,9023.0,6770.0,3438.0,1550.0,43.4,32.6,16.5,7.5,8757.0,9264.0,5307.0,2574.0,33.8,35.8,20.5,9.9
11,"Choctaw, AL",9,10,4482.0,3070.0,1418.0,836.0,45.7,31.3,14.5,8.5,3704.0,3670.0,2182.0,1013.0,35.0,34.7,20.6,9.6
12,"Clarke, AL",7,11,6471.0,5445.0,2614.0,1755.0,39.7,33.4,16.1,10.8,5165.0,6667.0,3733.0,2137.0,29.2,37.7,21.1,12.1
13,"Clay, AL",9,10,3999.0,2692.0,1340.0,628.0,46.2,31.1,15.5,7.3,3322.0,3690.0,1992.0,763.0,34.0,37.8,20.4,7.8
14,"Cleburne, AL",8,4,4068.0,2394.0,1110.0,529.0,50.2,29.6,13.7,6.5,3536.0,3417.0,1701.0,879.0,37.1,35.8,17.8,9.2
15,"Coffee, AL",6,5,8522.0,6824.0,6354.0,4274.0,32.8,26.3,24.5,16.5,7755.0,7571.0,7985.0,5574.0,26.8,26.2,27.6,19.3
16,"Colbert, AL",3,2,11952.0,11110.0,7293.0,3956.0,34.8,32.4,21.3,11.5,9972.0,12665.0,9474.0,5273.0,26.7,33.9,25.3,14.1
17,"Conecuh, AL",9,11,4242.0,2927.0,1219.0,574.0,47.3,32.7,13.6,6.4,2984.0,3518.0,1877.0,851.0,32.3,38.1,20.3,9.2
18,"Coosa, AL",8,7,3315.0,2403.0,1010.0,456.0,46.1,33.4,14.1,6.3,2831.0,3164.0,1597.0,663.0,34.3,38.3,19.3,8.0
19,"Covington, AL",7,9,10288.0,6962.0,4642.0,2198.0,42.7,28.9,19.3,9.1,8115.0,8473.0,5975.0,3142.0,31.6,33.0,23.2,12.2
20,"Crenshaw, AL",8,6,4286.0,2444.0,1327.0,740.0,48.7,27.8,15.1,8.4,3700.0,2689.0,1840.0,1039.0,39.9,29.0,19.9,11.2
21,"Cullman, AL",6,3,18093.0,13529.0,8882.0,3405.0,41.2,30.8,20.2,7.8,15322.0,16584.0,13719.0,6162.0,29.6,32.0,26.5,11.9
22,"Dale, AL",4,5,7536.0,8199.0,9575.0,3948.0,25.8,28.0,32.7,13.5,6976.0,9159.0,10857.0,4398.0,22.2,29.2,34.6,14.0
23,"Dallas, AL",4,5,11488.0,8010.0,5448.0,3474.0,40.4,28.2,19.2,12.2,8524.0,9646.0,6568.0,4004.0,29.7,33.6,22.9,13.9
24,"Dekalb, AL",6,6,16665.0,10770.0,5529.0,2520.0,47.0,30.4,15.6,7.1,15469.0,14549.0,9194.0,3528.0,36.2,34.0,21.5,8.3
25,"Elmore, AL",2,2,10518.0,10188.0,6695.0,4031.0,33.5,32.4,21.3,12.8,9679.0,14576.0,11749.0,7173.0,22.4,33.8,27.2,16.6
26,"Escambia, AL",6,6,9037.0,7841.0,3942.0,1707.0,40.1,34.8,17.5,7.6,8030.0,8860.0,5927.0,2693.0,31.5,34.7,23.2,10.6
27,"Etowah, AL",3,2,23588.0,20194.0,15201.0,6689.0,35.9,30.7,23.1,10.2,18115.0,22531.0,19811.0,9372.0,25.9,32.3,28.4,13.4
28,"Fayette, AL",6,6,5060.0,3700.0,1917.0,995.0,43.4,31.7,16.4,8.5,4265.0,4404.0,2753.0,1157.0,33.9,35.0,21.9,9.2
29,"Franklin, AL",6,6,8212.0,5640.0,3171.0,1269.0,44.9,30.8,17.3,6.9,7904.0,6363.0,4572.0,2021.0,37.9,30.5,21.9,9.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3081,"Washburn, WI",6,6,2338.0,3767.0,2006.0,1186.0,25.1,40.5,21.6,12.8,1828.0,4464.0,3241.0,1715.0,16.3,39.7,28.8,15.2
3082,"Washington, WI",1,1,11118.0,23813.0,15174.0,9478.0,18.7,40.0,25.5,15.9,8738.0,27308.0,24606.0,17057.0,11.2,35.1,31.7,21.9
3083,"Waukesha, WI",1,1,23522.0,63044.0,56285.0,52986.0,12.0,32.2,28.7,27.1,19410.0,66651.0,72975.0,82263.0,8.0,27.6,30.2,34.1
3084,"Waupaca, WI",6,6,8389.0,13149.0,5265.0,3306.0,27.9,43.7,17.5,11.0,6022.0,15148.0,8400.0,5156.0,17.3,43.6,24.2,14.8
3085,"Waushara, WI",8,6,3994.0,5539.0,2457.0,1326.0,30.0,41.6,18.5,10.0,3457.0,7034.0,3908.0,1911.0,21.2,43.1,24.0,11.7
3086,"Winnebago, WI",3,2,17241.0,35255.0,20302.0,16162.0,19.4,39.6,22.8,18.2,13867.0,37849.0,26351.0,23028.0,13.7,37.4,26.1,22.8
3087,"Wood, WI",4,5,10157.0,19986.0,10338.0,6315.0,21.7,42.7,22.1,13.5,7662.0,20618.0,13493.0,8486.0,15.2,41.0,26.8,16.9
3088,"Albany, WY",4,5,1742.0,3413.0,4863.0,6279.0,10.7,20.9,29.8,38.5,1114.0,3727.0,4676.0,7499.0,6.5,21.9,27.5,44.1
3089,"Big Horn, WY",9,12,1534.0,2424.0,1726.0,1003.0,22.9,36.2,25.8,15.0,1235.0,2506.0,2432.0,1170.0,16.8,34.1,33.1,15.9
3090,"Campbell, WY",5,8,2262.0,6336.0,5512.0,2630.0,13.5,37.8,32.9,15.7,2343.0,7106.0,7508.0,3150.0,11.7,35.3,37.3,15.7
3091,"Carbon, WY",7,9,1913.0,4033.0,3041.0,1484.0,18.3,38.5,29.0,14.2,1733.0,3678.0,3294.0,1803.0,16.5,35.0,31.3,17.2
3092,"Converse, WY",6,6,1122.0,2673.0,2091.0,860.0,16.6,39.6,31.0,12.7,1063.0,2766.0,2837.0,1152.0,13.6,35.4,36.3,14.7
3093,"Crook, WY",9,10,674.0,1191.0,934.0,518.0,20.3,35.9,28.2,15.6,553.0,1479.0,1177.0,679.0,14.2,38.0,30.3,17.5
3094,"Fremont, WY",7,8,4646.0,6973.0,5614.0,3412.0,22.5,33.8,27.2,16.5,3499.0,7658.0,7359.0,4537.0,15.2,33.2,31.9,19.7
3095,"Goshen, WY",7,9,1854.0,2619.0,2267.0,1145.0,23.5,33.2,28.8,14.5,1283.0,2810.0,2747.0,1566.0,15.3,33.4,32.7,18.6
3096,"Hot Springs, WY",7,9,790.0,1182.0,858.0,472.0,23.9,35.8,26.0,14.3,556.0,1270.0,1059.0,630.0,15.8,36.1,30.1,17.9
3097,"Johnson, WY",7,9,833.0,1435.0,1119.0,740.0,20.2,34.8,27.1,17.9,492.0,1539.0,1843.0,1107.0,9.9,30.9,37.0,22.2
3098,"Laramie, WY",3,2,7241.0,13283.0,15763.0,9467.0,15.8,29.0,34.5,20.7,5766.0,14053.0,20784.0,12438.0,10.9,26.5,39.2,23.4
3099,"Lincoln, WY",7,9,1183.0,2742.0,2058.0,1075.0,16.8,38.8,29.2,15.2,1093.0,3151.0,3250.0,1555.0,12.1,34.8,35.9,17.2
3100,"Natrona, WY",3,2,5668.0,11922.0,13020.0,7823.0,14.7,31.0,33.9,20.4,5006.0,13057.0,16055.0,8538.0,11.7,30.6,37.6,20.0
3101,"Niobrara, WY",9,12,427.0,598.0,506.0,229.0,24.3,34.0,28.7,13.0,220.0,673.0,573.0,265.0,12.7,38.9,33.1,15.3
3102,"Park, WY",7,11,2557.0,4587.0,4798.0,2763.0,17.4,31.2,32.6,18.8,2124.0,5208.0,5756.0,4057.0,12.4,30.4,33.6,23.7
3103,"Platte, WY",7,11,1081.0,2110.0,1526.0,604.0,20.3,39.7,28.7,11.4,913.0,2323.0,1880.0,918.0,15.1,38.5,31.2,15.2
3104,"Sheridan, WY",7,8,2870.0,5260.0,4743.0,2757.0,18.4,33.7,30.3,17.6,2085.0,5180.0,6689.0,4026.0,11.6,28.8,37.2,22.4
3105,"Sublette, WY",9,10,504.0,1063.0,939.0,681.0,15.8,33.4,29.5,21.4,446.0,1429.0,1297.0,872.0,11.0,35.3,32.1,21.6
3106,"Sweetwater, WY",5,8,4160.0,8455.0,6912.0,3006.0,18.5,37.5,30.7,13.3,2911.0,7994.0,8220.0,3928.0,12.6,34.7,35.7,17.0
3107,"Teton, WY",7,8,620.0,2177.0,2549.0,2291.0,8.1,28.5,33.4,30.0,679.0,2428.0,3853.0,5878.0,5.3,18.9,30.0,45.8
3108,"Uinta, WY",7,8,1581.0,3897.0,3028.0,1425.0,15.9,39.2,30.5,14.3,1744.0,4069.0,3918.0,1712.0,15.2,35.6,34.2,15.0
3109,"Washakie, WY",7,11,1150.0,1876.0,1406.0,1000.0,21.2,34.5,25.9,18.4,785.0,1844.0,1809.0,1022.0,14.4,33.8,33.1,18.7
3110,"Weston, WY",7,9,701.0,1832.0,1107.0,531.0,16.8,43.9,26.5,12.7,674.0,1831.0,1389.0,660.0,14.8,40.2,30.5,14.5

In [21]:
edu_2000['less_high_change'] = edu_2000['less_high_2000'] - edu_2000['less_high_1990'] 
edu_2000['high_dimploma_change'] = edu_2000['high_diploma_2000'] - edu_2000['high_diploma_1990'] 
edu_2000['some_college_change'] = edu_2000['some_college_2000'] - edu_2000['some_college_1990']
edu_2000['bachelors_change'] = edu_2000['bachelors_or_higher_2000'] - edu_2000['bachelors_or_higher_1990']

edu_2000['per_less_high_change'] = edu_2000['per_less_high_2000'] - edu_2000['per_less_high_1990']

edu_2000['per_high_dimploma_change'] = edu_2000['per_high_diploma_2000'] - edu_2000['per_high_diploma_1990']

edu_2000['per_some_college_change'] = edu_2000['per_some_college_2000'] - edu_2000['per_some_college_1990']
edu_2000['per_bachelors_change'] = edu_2000['per_bachelors_or_higher_2000'] - edu_2000['per_bachelors_or_higher_1990']

/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [22]:
edu_2010.head()

,county,continuum_2013,influence_2013,less_high_2000,high_diploma_2000,some_college_2000,bachelors_or_higher_2000,per_less_high_2000,per_high_diploma_2000,per_some_college_2000,per_bachelors_or_higher_2000,less_high_2011,high_diploma_2011,some_college_2011,bachelors_or_higher_2011,per_less_high_2011,per_high_diploma_2011,per_some_college_2011,per_bachelors_or_higher_2011
0,"Autauga, AL",2,2,5872.0,9332.0,7413.0,4972.0,21.3,33.8,26.9,18.0,4656,12182,11044,8437,12.8,33.5,30.4,23.2
1,"Baldwin, AL",3,2,17258.0,28428.0,28178.0,22146.0,18.0,29.6,29.3,23.1,14360,39431,43500,39710,10.5,28.8,31.8,29.0
2,"Barbour, AL",6,6,6679.0,6124.0,4025.0,2068.0,35.3,32.4,21.3,10.9,5021,6490,4943,2354,26.7,34.5,26.3,12.5
3,"Bibb, AL",1,1,4984.0,4838.0,2756.0,962.0,36.8,35.7,20.4,7.1,3024,6574,4367,1664,19.3,42.1,27.9,10.6
4,"Blount, AL",1,1,9960.0,12136.0,8371.0,3235.0,29.6,36.0,24.8,9.6,8472,13179,12677,5080,21.5,33.4,32.2,12.9

In [23]:
edu_2010['less_high_change'] = edu_2010['less_high_2011'] - edu_2010['less_high_2000'] 
edu_2010['high_dimploma_change'] = edu_2010['high_diploma_2011'] - edu_2010['high_diploma_2000'] 
edu_2010['some_college_change'] = edu_2010['some_college_2011'] - edu_2010['some_college_2000']
edu_2010['bachelors_change'] = edu_2010['bachelors_or_higher_2011'] - edu_2010['bachelors_or_higher_2000']

/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [24]:
edu_2010['per_less_high_change'] = edu_2010['per_less_high_2011'] - edu_2010['per_less_high_2000']
edu_2010['per_high_diploma_change'] = edu_2010['per_high_diploma_2011'] - edu_2010['per_high_diploma_2000']
edu_2010['per_some_college_change'] = edu_2010['per_some_college_2011'] - edu_2010['per_some_college_2000']
edu_2010['per_bachelors_change'] = edu_2010['per_bachelors_or_higher_2011'] - edu_2010['per_bachelors_or_higher_2000']

/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/Penelope/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [25]:
edu_2000.head()

,county,continuum_2003,influence_2003,less_high_1990,high_diploma_1990,some_college_1990,bachelors_or_higher_1990,per_less_high_1990,per_high_diploma_1990,per_some_college_1990,per_bachelors_or_higher_1990,less_high_2000,high_diploma_2000,some_college_2000,bachelors_or_higher_2000,per_less_high_2000,per_high_diploma_2000,per_some_college_2000,per_bachelors_or_higher_2000,less_high_change,high_dimploma_change,some_college_change,bachelors_change,per_less_high_change,per_high_dimploma_change,per_some_college_change,per_bachelors_change
0,"Autauga, AL",2,2,6252.0,6671.0,4912.0,3026.0,30.0,32.0,23.5,14.5,5872.0,9332.0,7413.0,4972.0,21.3,33.8,26.9,18.0,-380.0,2661.0,2501.0,1946.0,-8.7,1.8,3.4,3.5
1,"Baldwin, AL",4,5,17309.0,20544.0,15900.0,10870.0,26.8,31.8,24.6,16.8,17258.0,28428.0,28178.0,22146.0,18.0,29.6,29.3,23.1,-51.0,7884.0,12278.0,11276.0,-8.8,-2.2,4.7,6.3
2,"Barbour, AL",6,6,6965.0,4258.0,2622.0,1857.0,44.4,27.1,16.7,11.8,6679.0,6124.0,4025.0,2068.0,35.3,32.4,21.3,10.9,-286.0,1866.0,1403.0,211.0,-9.1,5.3,4.6,-0.9
3,"Bibb, AL",1,1,4850.0,3407.0,1332.0,476.0,48.2,33.8,13.2,4.7,4984.0,4838.0,2756.0,962.0,36.8,35.7,20.4,7.1,134.0,1431.0,1424.0,486.0,-11.4,1.9,7.2,2.4
4,"Blount, AL",1,1,9960.0,8763.0,4745.0,1773.0,39.5,34.7,18.8,7.0,9960.0,12136.0,8371.0,3235.0,29.6,36.0,24.8,9.6,0.0,3373.0,3626.0,1462.0,-9.9,1.3,6.0,2.6

In [26]:
edu_2010.head()

,county,continuum_2013,influence_2013,less_high_2000,high_diploma_2000,some_college_2000,bachelors_or_higher_2000,per_less_high_2000,per_high_diploma_2000,per_some_college_2000,per_bachelors_or_higher_2000,less_high_2011,high_diploma_2011,some_college_2011,bachelors_or_higher_2011,per_less_high_2011,per_high_diploma_2011,per_some_college_2011,per_bachelors_or_higher_2011,less_high_change,high_dimploma_change,some_college_change,bachelors_change,per_less_high_change,per_high_diploma_change,per_some_college_change,per_bachelors_change
0,"Autauga, AL",2,2,5872.0,9332.0,7413.0,4972.0,21.3,33.8,26.9,18.0,4656,12182,11044,8437,12.8,33.5,30.4,23.2,-1216.0,2850.0,3631.0,3465.0,-8.5,-0.3,3.5,5.2
1,"Baldwin, AL",3,2,17258.0,28428.0,28178.0,22146.0,18.0,29.6,29.3,23.1,14360,39431,43500,39710,10.5,28.8,31.8,29.0,-2898.0,11003.0,15322.0,17564.0,-7.5,-0.8,2.5,5.9
2,"Barbour, AL",6,6,6679.0,6124.0,4025.0,2068.0,35.3,32.4,21.3,10.9,5021,6490,4943,2354,26.7,34.5,26.3,12.5,-1658.0,366.0,918.0,286.0,-8.6,2.1,5.0,1.6
3,"Bibb, AL",1,1,4984.0,4838.0,2756.0,962.0,36.8,35.7,20.4,7.1,3024,6574,4367,1664,19.3,42.1,27.9,10.6,-1960.0,1736.0,1611.0,702.0,-17.5,6.4,7.5,3.5
4,"Blount, AL",1,1,9960.0,12136.0,8371.0,3235.0,29.6,36.0,24.8,9.6,8472,13179,12677,5080,21.5,33.4,32.2,12.9,-1488.0,1043.0,4306.0,1845.0,-8.1,-2.6,7.4,3.3

In [27]:
# Townhall distingushes cities that share a name with counties with a 'Co.', 
# and all other cites have only the city name.

# Finds the cities and counties with the same name, creates a list of these duplicates.
uni = []
for count in edu_2000.county:
    if count[-5] == '.':
        x = count[:-8]+count[-4:]
        uni.append(x)
    else:
        uni.append(count)

# cities in this list keep Co. all others drop it

repeted_counties = list({x for x in uni if uni.count(x) > 1})

# removes the 'Co.' from all cities that don't have a count of the same name.

new_county = []
for count in edu_2000.county:
    if 'Co.' in count:
        if count[:-8] + count[-4:] not in repeted_counties:
            new_county.append(count[:-8] + count[-4:])
        elif count[:-8] + count[-4:] in repeted_counties:
            new_county.append(count)
    else:
        new_county.append(count)
new_county_2 = []            
for count in new_county:
    if 'Saint ' in count:
        count = count.replace('Saint', 'St.')
        new_county_2.append(count)
    elif 'Dekalb' in count:
        count = count.replace('Dekalb', 'DeKalb')
        new_county_2.append(count)
    elif 'Desoto' in count:
        count = count.replace('Desoto', 'DeSoto')
        new_county_2.append(count)
    elif 'Lamoure' in count:
        count = count.replace('Lamoure', 'LaMoure')
        new_county_2.append(count)
    elif 'Mc Kean' in count:
        count = count.replace('Mc Kean', 'McKean')
        new_county_2.append(count) 
    elif 'Du Page' in count:
        count = count.replace('Du Page', 'DuPage')
        new_county_2.append(count)
    elif 'Dewitt' in count:
        count = count.replace('Dewitt', 'DeWitt') 
        new_county_2.append(count)
    elif 'Debaca' in count:
        count = count.replace('Debaca', 'De Baca')
        new_county_2.append(count)
    elif 'Baltimore Co.' in count:
        count = count.replace('Baltimore Co.', 'Baltimore City')
        new_county_2.append(count)
    elif count == 'Baltimore, MD':
        count = count.replace('Baltimore, MD', 'Baltimore County, MD')
        new_county_2.append(count) 
    elif count == 'Carson, NV':
        count = count.replace('Carson, NV', 'Carson City, NV')
        new_county_2.append(count)    
    elif count == 'Shannon, SD':
        count = count.replace('Shannon, SD', 'Oglala Lakota, SD')
        new_county_2.append(count)     
    else:
        new_county_2.append(count)

In [28]:
edu_2000.county = new_county_2
edu_2010.county = new_county_2

/Users/Penelope/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [31]:
edu_2000[edu_2000.county == 'Fairfax, VA']

,county,continuum_2003,influence_2003,less_high_1990,high_diploma_1990,some_college_1990,bachelors_or_higher_1990,per_less_high_1990,per_high_diploma_1990,per_some_college_1990,per_bachelors_or_higher_1990,less_high_2000,high_diploma_2000,some_college_2000,bachelors_or_higher_2000,per_less_high_2000,per_high_diploma_2000,per_some_college_2000,per_bachelors_or_higher_2000,less_high_change,high_dimploma_change,some_college_change,bachelors_change,per_less_high_change,per_high_dimploma_change,per_some_college_change,per_bachelors_change
2827,"Fairfax, VA",1,1,46562.0,91675.0,137320.0,264673.0,8.6,17.0,25.4,49.0,60477.0,90642.0,144257.0,357861.0,9.3,13.9,22.1,54.8,13915.0,-1033.0,6937.0,93188.0,0.7,-3.1,-3.3,5.8

In [32]:
edu_2000[edu_2000.county == 'Fairfax Co., VA']

,county,continuum_2003,influence_2003,less_high_1990,high_diploma_1990,some_college_1990,bachelors_or_higher_1990,per_less_high_1990,per_high_diploma_1990,per_some_college_1990,per_bachelors_or_higher_1990,less_high_2000,high_diploma_2000,some_college_2000,bachelors_or_higher_2000,per_less_high_2000,per_high_diploma_2000,per_some_college_2000,per_bachelors_or_higher_2000,less_high_change,high_dimploma_change,some_college_change,bachelors_change,per_less_high_change,per_high_dimploma_change,per_some_college_change,per_bachelors_change
2826,"Fairfax Co., VA",1,1,1645.0,2619.0,3466.0,5447.0,12.5,19.9,26.3,41.3,1736.0,2972.0,3565.0,6949.0,11.4,19.5,23.4,45.7,91.0,353.0,99.0,1502.0,-1.1,-0.4,-2.9,4.4

In [28]:
edu_2000.to_csv('./csv_files/edu_2000', index=False)
edu_2010.to_csv('./csv_files/edu_2010', index=False)