# Unemployment Rate Data Cleaning

In [1]:
import pandas as pd

In [2]:
# Load in data from excel turned csv files

ur_2004 = pd.read_csv('./raw_csv_files/ur_2004.csv')
ur_2008 = pd.read_csv('./raw_csv_files/ur_2008.csv')
ur_2012 = pd.read_csv('./raw_csv_files/ur_2012.csv')
ur_2016 = pd.read_csv('./raw_csv_files/ur_2016.csv')

In [3]:
ur_2004.head()

           county  rate    state  year
0  Autauga County   4.5  Alabama  2004
1  Baldwin County   5.7  Alabama  2004
2  Barbour County   7.3  Alabama  2004
3     Bibb County   4.8  Alabama  2004
4   Blount County   3.8  Alabama  2004

In [4]:
ur_2004.county = ur_2004.county.map(lambda x: str(x)[:-7])
ur_2008.county = ur_2008.county.map(lambda x: str(x)[:-7])
ur_2012.county = ur_2012.county.map(lambda x: str(x)[:-7])
ur_2016.county = ur_2016.county.map(lambda x: str(x)[:-7])

In [5]:
ur_2004.shape, ur_2008.shape, ur_2012.shape, ur_2016.shape

((3111, 4), (3111, 4), (3111, 4), (3111, 4))

In [6]:
def replace(df):
    '''Function to replace every state name in dataset with it's abbreviation'''
    
    df.state = df.state.replace('Alabama', 'AL').replace('Arizona', 'AZ').replace('Arkansas', 'AR')
    df.state = df.state.replace('California', 'CA').replace('Colorado', 'CO').replace('Connecticut', 'CT')
    df.state = df.state.replace('Delaware', 'DE').replace('Hawaii', 'HI').replace('Idaho', 'ID')
    df.state = df.state.replace('Illinois', 'IL').replace('Indiana', 'IN').replace('Iowa', 'IA')
    df.state = df.state.replace('Kansas', 'KS').replace('Kentucky', 'KY').replace('Louisiana', 'LA')
    df.state = df.state.replace('Maine', 'ME').replace('Maryland', 'MD').replace('Massachusetts', 'MA')
    df.state = df.state.replace('Michigan', 'MI').replace('Minnesota', 'MN').replace('Mississippi', 'MS')
    df.state = df.state.replace('Missouri', 'MO').replace('Montana', 'MT').replace('Nebraska', 'NE')
    df.state = df.state.replace('Nevada', 'NV').replace('New Hampshire','NH').replace('New Jersey', 'NJ')
    df.state = df.state.replace('New Mexico', 'NM').replace('New York', 'NY').replace('North Carolina','NC')
    df.state = df.state.replace('North Dakota', 'ND').replace('Ohio', 'OH').replace('Oklahoma', 'OK')
    df.state = df.state.replace('Oregon', 'OR').replace('Pennsylvania', 'PA').replace('Rhode Island', 'RI')
    df.state = df.state.replace('South Carolina', 'SC').replace('South Dakota', 'SD').replace('Tennessee', 'TN')
    df.state = df.state.replace('Texas', 'TX').replace('Utah', 'UT').replace('Vermont', 'VT')
    df.state = df.state.replace('Virginia', 'VA').replace('Washington', 'WA').replace('West Virginia', 'WV')
    df.state = df.state.replace('Wisconsin', 'WI').replace('Wyoming', 'WY')
    return df

In [7]:
ur_2004 = replace(ur_2004)

ur_2004.county = ur_2004.county + ', ' + ur_2004.state

ur_2004.drop('state', axis=1, inplace=True)

In [8]:
ur_2008 = replace(ur_2008)

ur_2008.county = ur_2008.county + ', ' + ur_2008.state

ur_2008.drop('state', axis=1, inplace=True)

In [9]:
ur_2012 = replace(ur_2012)

ur_2012.county = ur_2012.county + ', ' + ur_2012.state

ur_2012.drop('state', axis=1, inplace=True)

In [10]:
ur_2016 = replace(ur_2016)

ur_2016.county = ur_2016.county + ', ' + ur_2016.state

ur_2016.drop('state', axis=1, inplace=True)

In [11]:
ur_2004.to_csv('./csv_files/ur_2004', index=False)

In [12]:
ur_2008.to_csv('./csv_files/ur_2008', index=False)

In [13]:
ur_2012.to_csv('./csv_files/ur_2012', index=False)

In [14]:
ur_2016.to_csv('./csv_files/ur_2016', index=False)