# Census Data from 2000 and 2010 Cleaning

In [1]:
import pandas as pd

In [2]:
pd.set_option("display.max_rows", 4000)

In [3]:
# Load in data from excel turned csv files

pop_2000 = pd.read_csv('./raw_csv_files/census_2000.csv', encoding = "ISO-8859-1")
pop_2010 = pd.read_csv('./raw_csv_files/census_2010.csv', encoding = "ISO-8859-1")

In [4]:
# drop empty rows and columns 

pop_2000 = pop_2000.drop([0,1], axis=0)

pop_2010 = pop_2010.drop([0,1], axis=0)

In [5]:
# rename columns to be lower case

pop_2000.columns = [x.lower() for x in pop_2000.columns]
pop_2010.columns = [x.lower() for x in pop_2010.columns]

In [6]:
# drop Alaska from data set because of voter districs irregularity

pop_2000 = pop_2000[pop_2000.state != 'Alaska']
pop_2010 = pop_2010[pop_2010.state != 'Alaska']

In [7]:
# remove the word county from every county in the column county, so what is left is the name of the county

pop_2000.county = pop_2000.county.map(lambda x: str(x)[:-7] if str(x)[-3] == 'n' or str(x)[-1] == 'h' else str(x)[:-5])
pop_2010.county = pop_2010.county.map(lambda x: str(x)[:-7] if str(x)[-3] == 'n' or str(x)[-1] == 'h' else str(x)[:-5])

In [8]:
def replace(df):
    '''Function to replace every state name in dataset with it's abbreviation'''
    
    df.state = df.state.replace('Alabama', 'AL').replace('Arizona', 'AZ').replace('Arkansas', 'AR')
    df.state = df.state.replace('California', 'CA').replace('Colorado', 'CO').replace('Connecticut', 'CT')
    df.state = df.state.replace('Delaware', 'DE').replace('Florida', 'FL').replace('Georgia', 'GA')
    df.state = df.state.replace('Hawai_i', 'HI').replace('Idaho', 'ID').replace('Illinois', 'IL')
    df.state = df.state.replace('Indiana', 'IN').replace('Iowa', 'IA').replace('Kansas', 'KS')
    df.state = df.state.replace('Kentucky', 'KY').replace('Louisiana', 'LA').replace('Maine', 'ME')
    df.state = df.state.replace('Maryland', 'MD').replace('Massachusetts', 'MA').replace('Michigan', 'MI')
    df.state = df.state.replace('Minnesota', 'MN').replace('Mississippi', 'MS').replace('Missouri', 'MO')
    df.state = df.state.replace('Montana', 'MT').replace('Nebraska', 'NE').replace('Nevada', 'NV')
    df.state = df.state.replace('New Hampshire','NH').replace('New Jersey', 'NJ').replace('New Mexico', 'NM')
    df.state = df.state.replace('New York', 'NY').replace('North Carolina','NC').replace('North Dakota', 'ND')
    df.state = df.state.replace('Ohio', 'OH').replace('Oklahoma', 'OK').replace('Oregon', 'OR')
    df.state = df.state.replace('Pennsylvania', 'PA').replace('Rhode Island', 'RI').replace('South Carolina', 'SC')
    df.state = df.state.replace('South Dakota', 'SD').replace('Tennessee', 'TN').replace('Texas', 'TX')
    df.state = df.state.replace('Utah', 'UT').replace('Vermont', 'VT').replace('Virginia', 'VA')
    df.state = df.state.replace('Washington', 'WA').replace('West Virginia', 'WV').replace('Wisconsin', 'WI')
    df.state = df.state.replace('Wyoming', 'WY')
    return df

In [9]:
# call function, and combine county name with state slug

pop_2000 = replace(pop_2000)

pop_2000.county = pop_2000.county + ', ' + pop_2000.state

pop_2000.drop('state', axis=1, inplace=True)

In [10]:
# call function, and combine county name with state slug

pop_2010 = replace(pop_2010)

pop_2010.county = pop_2010.county + ', ' + pop_2010.state

pop_2010.drop('state', axis=1, inplace=True)

In [11]:
repeted_counties = ['Franklin, VA','Roanoke, VA','Baltimore, MD','Richmond, VA','Saint Louis, MO','Fairfax, VA']

In [12]:
new_count = []
new_county = []
for count in pop_2000.county:
    if 'Co.' in count:
        if count[:-7] + count[-2:] not in repeted_counties:
            new_county.append(count[:-7] + count[-2:])
        elif count[:-7] + count[-2:] in repeted_counties:
            new_county.append(count)
    else:
        new_county.append(count)
for count in new_county:            
    if 'Ci' in count:
        count = count.replace('Ci', 'Co.')
        new_count.append(count)
    elif 'City and Coun' in count:
        count = count.replace('City and Coun, ', '')
        new_count.append(count)
    elif 'LaSalle' in count:
        count = count.replace('LaSalle', 'La Salle.')
        new_count.append(count)   
    elif 'Town and Coun, ' in count:
        count = count.replace('Town and Coun, ', '')
        new_count.append(count)   
    elif 'Co.ty and Coun, ' in count:
        count = count.replace('Co.ty and Coun, ', '')
        new_count.append(count) 
    else:
        new_count.append(count)

In [13]:
len(new_count), len(new_county)

(3114, 3114)

In [14]:
pop_2000.county = new_count
pop_2010.county = new_count

In [15]:
pop_2000.shape

(3114, 2)

In [16]:
pop_2000[pop_2000.county == 'El Paso, CO']

          county  population 2000
267  El Paso, CO         516929.0

In [17]:
pop_2000.to_csv('./csv_files/pop_2000', index=False)

pop_2010.to_csv('./csv_files/pop_2010', index=False)